/*start globel rules*/
:root
{
    --main-color:#19c8fa;
    --sconed-color:rgb(15 116 143 /70%);
    --top-pad:100px;
    --bottom-pad:100px;
}
*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html
{
    scroll-behavior: smooth;
}
body
{
    font-family:"Open Sans",sans-serif;
      overflow-x: hidden;
}
ul
{
    list-style: none;
}
.container
{
    padding-left: 15px; 
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/*small*/
@media (min-width:768px) {

    .container
    {
        width: 750px;
    }
}
/*mediem*/
@media (min-width:992px)
{
    .container
    {
        width:970px;
    }
}
/* large*/
@media (min-wdith:1200px)
{
    .container
    {
        width: 1170px;
    }
}
/*end goble rules*/
/*start components*/
.main-heading
{
 text-align: center;
}
.main-heading h2
{
  font-size: 40px;
  font-weight: normal;
  position: relative;
  margin-bottom: 70px;
  text-transform: uppercase;
}
.main-heading h2::before
{
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 2px;
    background-color: #333;
    width: 120px;
    bottom: -30px;
}
.main-heading h2::after
{
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 14px;
    background-color: white;
    width: 14px;
    border: 2px solid #333;
    bottom: -38px;
    border-radius: 50%;
}
.main-heading p
{
   width: 550;
   margin: 0 auto 100px;
   max-width: 100%;
   line-height:1.8;
   color: #777;
}


/*end components*/
/*strat header*/
header
{
position: absolute;
left: 0;
width: 100%;
z-index: 2;    
}
header .container
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    min-height: 97px;
}
header .container::after
{
    content: "";
    position: absolute;
    height:1px;;
    width:calc(100% - 30px);
    background-color: #a2a2a2;
    bottom: -1px;
    left: 15px;
}
header img
{
    height:40px;
}
header .container nav
{
    flex: 1;  /*عشان ياخد بقيت مساحة container*/
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
header .container nav .toggle-menu
{
    color: white;
    font-size: 20px;
}
@media (min-width:768px) {
    header .container nav .toggle-menu
    {
        display: none;
    }

}
header .container nav ul
{
    display: flex;

}
header .container nav ul li a
{
    padding:40px 10px ;
    text-decoration: none;
    color: white;
    display: block;
    font-size: 15px;
    transition: 0.3s;
    position: relative;
    z-index: 3;
}
@media (max-width:767px) {
    header .container nav ul
{
    display: none;
}
}
header nav .toggle-menu:hover + ul
{
   display: flex;
   flex-direction: column;
   position: absolute;
   top: 100%;
   left: 0;
   width: 100%;
   background-color: black;
}
header nav .toggle-menu:hover + ul li a
{
    padding: 15px;
}

header .container nav ul li a.active,
header .container nav ul li a:hover
{
    color: var(--main-color);
    border-bottom: 1px solid var(--main-color);
}

header .from
{
    color: white;
    width: 40px;
    height: 30px;
    margin-left: 20px;
    position: relative;
    border-left: 1px solid white;
}
header .from i
{
    font-size: 25px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);

}
/*end header*/
/*start landing*/
.landing
{
    background-image:url(../Image/landing.jpg);
    background-size: cover;
    min-height:100vh;
    background-color:#1f2021;
    position: relative;
}
.landing .overlay
{
    position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   background-color:rgb(0 0 0 /60%);
}
.landing  .text 
{
  position: absolute;
  left:0px;
  top:50%;
  color: white;
  transform: translateY(-50%);
  background-color: var(--sconed-color);
  width: 50%;
  padding-left: 50px;
  display: flex;
  justify-content: flex-end;

}
@media (max-width:767px)
{
    .landing  .text ,
    .landing .text .content

    {
        max-width: 100%;
    }

}
.landing .text .content
{
   max-width: 500px;

}
.landing .text .content h2
{
  line-height: 1.5;
  font-size: 30px;
  margin-bottom: 20px;
  padding-top: 15px;
  margin-left: -5px;
  font-weight: normal;
}
@media (max-width:767px) {
    .landing .text .content h2
    {
        line-height: 1.0;
        font-size: 25px;
        margin-top: 20px;
    }
}
.landing .text .content p
{
 line-height: 2;
 font-size: 14px;
 margin-left:-5px;
}
.landing .change-background
{
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    color: #eee;
}
@media (max-width:767px)
{
    .landing .change-background
    {
        display: none;
    }

}
.landing .fa-angle-left
{
    left: 30px;
}
.landing .fa-angle-right
{
    right: 30px;
}
.landing .bullets
{
 position: absolute;
 left:50%;
 display: flex;
 transform: translateX(-50%);
 bottom: 30px;

}
.landing .bullets li
{
  width: 20px;
  height: 20px;
  margin-right: 10px;
  border: 1px solid white;
  border-radius: 50%;
}
.landing .bullets .active
{
    background-color: var(--main-color);
      border: 1px solid var(--main-color);


}

/*end landing*/
/*start services*/
.service
{
    padding-bottom:var(--bottom-pad);
    padding-top:var(--top-pad);
}

@media(min-width:768px)
{
  .service .content
  {
    display: grid;
    grid-template-columns:repeat(auto-fill,minmax(400px,1fr));
    grid-column-gap:20px ;
    grid-row-gap:60px ;

  }

}
.service .ser-box
{
   display: flex;
}
.service .ser-box i
{
  margin-right: 50px;
}
@media(max-width:767px)
{
    .service .ser-box
    {
        display: flex;
        text-align: center;
        flex-direction: column;
        margin-bottom: 40px;
    }
    .service .ser-box i
    {
           margin: 0px 0 30px;
    }
                .service .ser-box i
                {
                margin-left: 190px;
                }

}
.service .ser-box h3
{
  margin-bottom: 30px;
  color: var(--main-color);

}
.service .ser-box p
{
  line-height: 2;
  color: #777;
}
/*end services*/
/*start design*/
.design
{
    padding-top: var(--top-pad);
    padding-bottom: var(--bottom-pad);
    height: 600px;
    position: relative;
    background-image: url(../Image/design-features.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
    overflow: hidden;
}
.design::before
{
    content: "";
    position: absolute;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    background-color:rgb(0 0 0 /60%);
}
.design .image
{
  position: relative;
  z-index: 2;
  flex: 1;
}
@media(max-width:767px)
{
    .design .image
    {
        display: none;
    }

}
.design .image img
{
    position: relative;
    bottom: -150px;
}
.design .text
{
  position: relative;
  z-index: 2;
  flex:1;
  color: white;
  padding: 50px;
  background-color: var(--sconed-color);
}
.design .text h2
{
 font-weight: normal;
 text-transform: uppercase;
 margin-bottom: 40px;
}
.design .text ul li
{
   padding: 15px 0;
}
.design .text ul li::before
{
    font-family:'Font Asesome 5 Free';
    contain:'\f108';
    font-weight: 900;
    margin-right:20px;
    position: relative;
    top:1px;
}
/*end design*/
/*start protfolio*/
.protfolio
{
    padding-bottom: var(--bottom-pad);
    padding-top: var(--top-pad);
}
.shuffle
{
    display: flex;
    justify-content: center
;}
.shuffle li
{
  padding: 10px;
  font-size: 20px;
}
.shuffle .active
{
    background-color: var(--main-color);
    color: white;

 }
 .protfolio .image-container
 {
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap; 
}
 .protfolio .image-container .box
 {
    position: relative;
    overflow: hidden;
 }
  .protfolio .image-container .box:hover img

  {
    transform:rotate(5deg) scale(1.2);
  }
   .protfolio .image-container .box:hover .caption
   {
    bottom: 0;
   }


 @media(min-width:768px)
 {
     .protfolio .image-container .box
     {
        flex-basis: 50%;
     }

 }
  @media(min-width:1199px)
  {
         .protfolio .image-container .box
         {
            flex-basis: 25%;
         }

  }

  .protfolio .image-container .box img
  {
     max-width: 100%;
     transition: 0.5s;
  }
    .protfolio .image-container .box .caption
{
    position: absolute;
    left:0;
    padding: 20px;
    background-color: white;
    width: 100%;
    bottom: -100px;
    transition: 0.5s;

}
    .protfolio .image-container .box .caption h4
    {
          font-weight: normal;
          margin-bottom: 10px;
    }
    .protfolio .image-container .box .caption p
    {
           color: var(--main-color);
    }

.protfolio .more
{
   text-decoration: none;
   padding: 15px;
   background-color: var(--main-color);
   color: white;
   display: block;
   margin: 30px auto;
   text-transform: uppercase;
}
/*end protfolio*/
/*start video*/
.video
{
    position: relative;

}
.video::before
{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height:100%;
   background-color:rgb(0 0 0 /40%);

}
.video video
{
  width: 100%;
}
.video .text
{
   width: 100%;
   position: absolute;
   top:50%;
   padding: 50px;
   transform: translateY(-50%);
   text-align: center;
   color: white;
   background-color:var(--sconed-color);
}
.video .text h2
{
   margin: 0 0 30px;
   font-weight: normal;
   text-transform: uppercase;
}
.video .text p
{ 
    margin-bottom:20px;

}
.video .text button
{
   background-color: black;
   color: white;
   border: none;
   padding: 10px 20px;
   text-transform: uppercase;
}
/*end video*/
/*start about*/
.about
{
    padding-top: var(--top-pad);
    overflow:hidden;
    text-align: center;
    
}
.about img
{
    position: relative;
    bottom:0;
    margin-top: -120px;
    max-width: 100%;
}
@media(max-width:767px)
{
    .about img
    {
        bottom: -60px;
        margin-top: -60px;
    }
}

/*end* about/
/* start stats*/
.stats
{
    padding-bottom: var(--bottom-pad);
    padding-top:100px;
    background-image: url(../Image/stats.png);
    background-size: cover;
    position: relative;
    top: -100px;
}
.stats::before
{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgb(0 0 0  /60%);
}
.stats .container
{
        position: relative;
        display: flex;
        flex-wrap: wrap;
        background-color:var(--sconed-color);

}
.stats .container .box
{
    color: white;
    padding: 50px;
    flex-basis: 25%;


}
@media (max-width: 767px)
{
    .stats .container .box
    {
        flex-basis: 100%;
        text-align: center;
    }
    

}
@media(min-width:768px)
{
    .stats .container .box
    {
        flex-basis: 50%;
    }


}
@media (min-width:992px)
{
    .stats .container .box
    {
        flex-basis: 25%;
    }

}
.stats .container .box i
{
    width: 50px;
    height: 50px;
    display: flex;
    background-color: black;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 0 auto 30px;
}
.stats .container .box .number
{
   font-size: 50px;
   font-weight: bold;
   margin-bottom: 10px;
   
}
.stats .container .box p
{ 
  font-size: 14px;
  margin-left: 10px;
}
/*end stats*/
/*start skills*/
.our-skills
{
  padding-bottom: var(--bottom-pad);
}
.our-skills .container
{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}
@media (min-width:992px)
{
    .our-skills .container > div
    {
      flex-basis: 45%;
    }

}
 .our-skills .container > div >h3 /*frist h3*/
 {
    margin: 0 0 30px;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
 }
  .our-skills .container > div > p /*frist h3*/
  {
    color: #777;
    text-align: center;
    line-height: 1.8; 
    margin-bottom: 60px;
  }
  .our-skills .testimonials .content
{
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.our-skills .testimonials .content img
{
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin-right: 50px;
}
@media (max-width: 767px) {
      .our-skills .testimonials .content
      {
            flex-direction: column;
            text-align: center;
      }
      .our-skills .testimonials .content img
      {
        margin: 0 auto 30px;

      }


}
.our-skills .testimonials .content .text
{
   line-height: 1.8;
   border-bottom: 1px solid #ccc;
   color: #777;

}
.our-skills .testimonials .content .text p
{
    color: #777;
    margin-bottom: 10px;
    text-align: right;
    font-size: 14px;
}


.our-skills .testimonials .bullets
{
 display: flex;
justify-content: center; 
margin-top: 20px;
margin-bottom: 30px;
}
.our-skills .testimonials .bullets li
{
  width: 14px;
  height: 14px;
  margin-right: 10px;
  border: 1px solid #aaa;
  border-radius: 50%;
}
.our-skills .testimonials .bullets .active
{
      background-color: var(--main-color);
      border: 1px solid var(--main-color);

}
.our-skills .skills .prog-holder
{
    margin-bottom: 40px;

}
.our-skills .skills .prog-holder h4
{
   margin-bottom: 15px;
   text-transform: uppercase;
   font-weight: normal;
}

.our-skills .skills .prog-holder .prog
{
    height: 30px;
    background-color: #dedadc;

}
.our-skills .skills .prog-holder span
{
   height: 100%;
   display: block;
   background-color: var(--main-color);
   position:relative;
}
.our-skills .skills .prog-holder span::after
{
  content:'';
  position: absolute;
  border-width: 8px;
  border-color: black transparent transparent transparent ;
  border-style: solid;
  top:-15px;
  right: -8px;
}
.our-skills .skills .prog-holder span::before
{
    content:attr(data-progress);
    position: absolute;
    background-color: black;
    color: white;
    top: -40px;
    right: -20px;
    border-radius: 4px;
    padding: 4px 0;
    text-align: center;

}
/*end skills*/
/*start quote*/
.quote
{
    padding-bottom: var(--bottom-pad);
    padding-top: var(--top-pad);
    background-image: url(../Image/quote.jpg);
    background-size: cover;
    position: relative;
     text-align: center;

}
.quote .container
{
    position: relative;
}

.quote::before
{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    background-color: rgb(0 0 0  /80%);
}
.quote q
{
  font-size: 25px;
  color: white;
  display: block;
  margin-bottom: 20px;
}
.quote span
{
   color: white;
}

/*end quote*/
/*start Pricing*/
.pricing
{
    padding-bottom: var(--bottom-pad);
    padding-top:var(--top-pad);
}
.pricing .plans
{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
    grid-gap:20px;
    margin-left: 50px;
    margin-right: 50px;
}
.pricing .plans .plan
{
  background-color:#fcfcfc;
  text-align: center;
}
.pricing .plans .plan .head
{
  border-top: 1px solid var(--main-color); 
  border-bottom: 1px solid var(--main-color);
  padding: 40px 20px 20px 0;

}
.pricing .plans .plan .head h3
{
  font-size: 25px;
  font-weight: normal;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.pricing .plans .plan .head span
{
    font-size: 50px;
    font-weight: bold;
    position: relative;

}
.pricing .plans .plan .head span::after
{
   content: "/M0";
   position: absolute;
   font-size: 20px;
   font-weight: normal; 
   bottom: -10px;
}
.pricing .plans .plan .head span::before
{
    content: '$';
    position: absolute;
    top:-20px;
    font-size: 40px;
    left: -30px;
    font-weight: normal;
}

.pricing .plans .plan ul
{
          border-bottom: 1px solid var(--main-color);

}
.pricing .plans .plan li
{
      padding: 20px;
      position: relative;

}
.pricing .plans .plan li:not(:last-child)::after
{
    content: "";
    position: absolute;
    width: 120px;
    height: 1px;
    background-color: var(--main-color);
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;

}

.pricing .plans .plan .fooot a
{
    display: block;
    padding: 20px 20px;
   text-decoration: none;
   border: 1px solid var(--main-color);
   width: fit-content;
   margin: 30px auto;

}
.pricing .contact-text
{
    margin-top:20px;
   text-align: center;
   font-size: 20px;
   margin-bottom: 10px;
   margin-top: 50px;
}
.pricing .contact-link
{
    display: block;
    width: fit-content;
   text-decoration: none;
   background-color: var(--main-color);
   margin: 20px auto;
   padding: 15px 30px;
   color: white;
}
/*end pricing*/
/*start subscribe*/
.subscribe
{
    padding-bottom: var(--bottom-pad);
    padding-top: var(--top-pad);
    background-image:url(../Image/subscribe.jpg);
    background-size: cover;
    color: white;
    position: relative;
    padding-left: 120px;
    

}
.subscribe::before
{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    background-color: rgb(0 0 0  /50%);
}


.subscribe .cont
{
    position: relative;
   display: flex;
   align-items: center;
}
@media (max-width:991px)
{
    .subscribe .cont
    {
        flex-direction: column;
    }

}
.subscribe .cont form 
{
   display: flex;
   position: relative;
   width: 500px;
   max-width: 100%;

}
.subscribe .cont form i
{
    position: absolute;
    top:30px;
    transform: translateY(-50%);
    left: 25px;

}
.subscribe .cont form  input[type = "email"]
{
    padding: 20px 20px 20px 60px;
    border: 1px solid white;
    border-right: none;
    background:none;
    border-radius: 3px;
    caret-color: var(--main-color);
    width: calc(100% - 130px);

}
.subscribe .cont form  input[type = "submit"]
{
   width: 130px;
   background-color: var(--main-color);
   color: white;
   border: 1px solid white;
   border-left: none;
   text-transform: uppercase;
   padding: 10px 20px;
}
.subscribe .cont form  input[type = "email"]:focus
.subscribe .cont form  input[type = "submit"]:focus
{
    outline: none;
}
.subscribe  form ::placeholder
{
    color: white;
}


.subscribe .cont p
{
    line-height:2;
    margin-left:90px;

}
@media (max-width:767px)
 {
    .subscribe form
    {
                margin-left: -50px;
                margin-bottom: 10px;
    }
    .subscribe .cont p
    {
        margin-left: -30px;
    }
}
/*end subscribe*/
/* Start Contact*/
.contact
{
    padding-bottom: var(--bottom-pad);
    padding-top: var(--top-pad);
}
.contact .content
{
    display: flex;
    justify-content: space-between;
}
.contact .content form
{
    flex-basis: 70%;
}
@media (max-width:767px) {
    .contact .content
    {
        flex-direction: column;
    }
        .contact .content form .submi
        {
            margin-left: -100px;
        }

}
.contact .content form .main-input
{
    padding: 20px;
    display: block;
    width: 100%;
    border: 1px solid #ccc;
    margin-bottom: 30px;
    border-radius: 3px;
}
.contact .content form .main-input:focus
{
    outline: none;
}
.contact .content form textarea.main-input
{
    height: 200px;
}
.contact .content form .submi
{
    background-color: var(--main-color);
    padding: 20px;
    color: white;
    cursor: pointer;
    border: none;
    margin-left: 200px;
    text-transform: uppercase;
}
.contact .content .info
{
       flex-basis:25%;

}
@media (max-width:767px) {
    .contact .content .info
    {
        order: -1;
        text-align: center;
        margin-bottom: 10px;
    }

}
.contact .content .info h4
{
   text-transform: uppercase;
   font-size: 18px;
   font-weight: 500;
   margin-bottom: 30px;
}
.contact .content .info .phone
{ 
    display: block;
    color: #777;
    margin-bottom: 10px;
}
.contact .content .info h4:nth-of-type(2)
{
   text-transform: uppercase;
   font-size: 18px;
   font-weight: 500;
   margin-bottom: 30px;
   margin-top: 100px;
}
@media (max-width:767px) {
    .contact .content .info h4:nth-of-type(2)
    {
           margin-top:30px;

    }

}
.contact .content .info address
{
   color: #777;
   line-height: 2;
}

@media (max-width:767px) {
    .contact .content .info address
{
    margin-bottom: 20px;
}
}
.foot
{
    padding-bottom:50px;
    padding-top:50px;
    background-image: url(../Image/subscribe.jpg);
    background-size: cover;
    text-align: center;
    position: relative;
    color: white;
    margin-top: 100px;
    margin-bottom: -100px;
}
.foot::before
{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgb(0 0 0  /70%);
}
.foot .container
{
    position: relative;

}
.foot img{
    margin-bottom: 20px;
}
.foot .social
{
    text-transform: uppercase;
    border-bottom: 1px solid white;
    padding: 20px;
    font-size: 22px;
    width: fit-content;
    margin: 20px auto;
    
}
.foot .social-icons i{
  padding: 10px 15px;
}
.foot .copyright
{
  margin-top: 60px;
}
.foot .copyright span
{
  color: var(--main-color);
  font-weight: bold;
}

/*end Contact*/
